<!doctype html>
<html><head>
<meta charset="utf-8">
<title>CMO System - Project Jarvis</title>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|PT+Serif" rel="stylesheet">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/antennaio/jquery-bar-rating/master/dist/themes/fontawesome-stars.css"/>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/twitter/typeahead.js/master/dist/typeahead.bundle.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/antennaio/jquery-bar-rating/master/dist/jquery.barrating.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/jedfoster/Readmore.js/master/readmore.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/easing/EasePack.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenLite.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/hyperlogin/thecrib/master/connect_three.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
	<script src="https://cdn.rawgit.com/carhartl/jquery-cookie/master/src/jquery.cookie.js"></script>
	<style>
	body
	{
		background-color:black;
		background-image: radial-gradient(circle,#191919 0%,#323232 100%);
		font-family: 'PT Serif', serif;
		overflow: hidden;
	}
	.wrapper
	{
		width: 100%;
		height:100%;
		margin: 0px auto;
	}

	#menu-categories
	{
		padding:10px;
		margin-left: -100px;
	}

	.overlay,.background
	{
		position:absolute;
		opacity:1;
		top:0;
		bottom:0;
		right:0;
		left:0;
		background:rgba(20,20,20,0.8);
	}

	.overlay
	{
		z-index:-1;
	}

	.background
	{
		z-index: :-2;
		background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/UD7CEz6/center-command-control-room-security-aviation-space_41iiu4iv__F0000.png') center center no-repeat,linear-gradient(to bottom right,#002f4b,#dc4225);
	  	background-size: cover;
		opacity: .6;
	}

	h1 { font-weight: bold; color:white;}
	h1 sub{font-size: 12px;}

	.header
	{
		width:25%;
		height: 50%;
		position: relative;
		margin-top: 2%;
		background-color: rgba(0,0,0,0.7);
		border-radius: 5px;
		padding: 10px;
	}
	
	.header input,.header button {width: 80%; margin: 0 auto; margin-bottom:10px !important;}

	#title
	{
		position: relative;
		margin-top: 15%;
	}

	.large-header {
	 	position: absolute;
	 	width:100%;
	}

	/* . LOADer ***/
	.loader,.loader_bg {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -webkit-transform: translate(-50%, -50%);
			  transform: translate(-50%, -50%);
	  width: 50px;
	  height: 50px;
	  background-color: #F46669;
	  border-radius: 50%;
	}

	.loader_bg{
		width:80px;
		height: 80px;
		background: linear-gradient(to bottom right,#F46669,#dc4225) !important;
		border-radius: 5px;
	}

	.loader:after {
	  content: '';
	  position: absolute;
	  border-radius: 50%;
	  top: 50%;
	  left: 50%;
	  border: 0px solid white;
	  -webkit-transform: translate(-50%, -50%);
			  transform: translate(-50%, -50%);
	  -webkit-animation: loading 1000ms ease-out forwards infinite;
			  animation: loading 1000ms ease-out forwards infinite;
	}

	@-webkit-keyframes loading {
	  0% {
		border: 0px solid white;
	  }
	  20% {
		border: 8px solid white;
		width: 0%;
		height: 0%;
	  }
	  100% {
		border: 8px solid white;
		width: 100%;
		height: 100%;
	  }
	}

	@keyframes loading {
	  0% {
		border: 0px solid white;
	  }
	  20% {
		border: 8px solid white;
		width: 0%;
		height: 0%;
	  }
	  100% {
		border: 8px solid white;
		width: 100%;
		height: 100%;
	  }
	}
	.hide{display:none;}

	input[type='text'] {
		margin-top: 15px;
		margin-bottom: 5px;
	}

	.fa{color:black;}


</style>
</head>

<body>
	<!-- Wrapper for login page-->
	<div class="wrapper_loginpage wrapper">
		<div class="bg-img"></div>
		<div class="overlay"></div>
		<div id="large-header" class="large-header">
			<canvas id="demo-canvas"></canvas>
		</div>
		<div class="background"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div id="title" class="mx-auto text-center">
						<h1 class="text-center">Project Jarvis<sub>SEI-CMO</sub></h1>
					</div>
					<div class="header mx-auto">
						<form action="_login/" method="post">
							{% csrf_token %}
							<div class="inner-addon right-addon">
								<input type="text" name="user_id" id="user_id" class="form-control" placeholder="Username" />
								<input type="password" name="password" id="password" class="form-control" placeholder="Password" />
								<button type="submit" class="btn btn-danger btn-block" style="margin-top:30px;">Authorize</button>
								<br>
								{% if messages %}
									{% for message in messages %}
										<div id="msg" class="alert {{ message.tags }}">{{ message }}</div>
									{% endfor %}
								{% endif %}
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Wrapper for main menu -->
	<div class="loader_bg hide">
		<div class="loader" style=""></div>
	</div>
</body>
</html>