body,html {margin :0 auto; height: 100%;color:white; overflow: hidden; font-family: 'PT Serif', serif;}
		.wrapper{width:100%;height: 100%; background: url('https://www.walldevil.com/wallpapers/w01/553537-abstract-command-command-and-conquer-dark-digital-art-futuristic-techno-typography-vectors.jpg') center center no-repeat, linear-gradient(to bottom right, #404040, #484848);}
		.header
		{
			background: linear-gradient(to bottom right, #202020, #282828);
		}
		nav {position: fixed; top: 0; width: 100%}
		nav a {color:white !important;}
		.content {position:relative; width:100%; height: 100%; min-height: 100%; }
		#mapid {width: 100%; height: 800px;}
		.dropdown-menu { right: 0; left: auto;}
		.dropdown-menu a {color:black !important;}
		.leaflet-marker-icon {opacity: 0.3;}
		.leaflet-marker-icon:hover{opacity:1}
		.modal-content,.modal-header {background: linear-gradient(to bottom right, #202020, #282828); color:white}
		#eot_description { width:800px; height: 600px}
		.options
		{
			bottom:0px;
			right:0px;
			left: 0px;
			width: 100%;
			height: 70px;
			z-index: 999;
			background-color: rgba(0,0,0,0.7);
			border-radius: 5px 0 0 0;
			position: absolute;
			
		}
		
		.options button, .options .ai { margin:15px;}
		
		.ai {float: right; padding-right: 10px; }
		
		.ai:hover{color:#827C7C;}

		/* . LOADer ***/
		.loader,.loader_bg {
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  -webkit-transform: translate(-50%, -50%);
				  transform: translate(-50%, -50%);
		  width: 50px;
		  height: 50px;
		  background-color: #F46669;
		  border-radius: 50%;
		}

		.loader_bg{
			width:80px;
			height: 80px;
			background: linear-gradient(to bottom right,#F46669,#dc4225) !important;
			border-radius: 5px;
		}

		.loader:after {
		  content: '';
		  position: absolute;
		  border-radius: 50%;
		  top: 50%;
		  left: 50%;
		  border: 0px solid white;
		  -webkit-transform: translate(-50%, -50%);
				  transform: translate(-50%, -50%);
		  -webkit-animation: loading 1000ms ease-out forwards infinite;
				  animation: loading 1000ms ease-out forwards infinite;
		}

		@-webkit-keyframes loading {
		  0% {
			border: 0px solid white;
		  }
		  20% {
			border: 8px solid white;
			width: 0%;
			height: 0%;
		  }
		  100% {
			border: 8px solid white;
			width: 100%;
			height: 100%;
		  }
		}

		@keyframes loading {
		  0% {
			border: 0px solid white;
		  }
		  20% {
			border: 8px solid white;
			width: 0%;
			height: 0%;
		  }
		  100% {
			border: 8px solid white;
			width: 100%;
			height: 100%;
		  }
		}
		.hide{display:none;}

		ul li {list-style-type: none; padding: 5px;}
		
		#myModal,#sopmodal {color:black;}
		
		.panel {background-color: #201D1D; padding: 5px 2px 2px 2px; border-radius: 5px; margin-bottom: 2px;}
		
		.panel-title > a{color:white;}
		
		.panel-title > a:hover, 
		.panel-title > a:active, 
		.panel-title > a:focus  {
			text-decoration:none;
		}
		
		.modal-dialog{ height:500px;}
		
		#sopmodal .modal-body{  max-height: 500px;}
		
		#mouse_pointer {padding:20px;}
		
		/*
		 * ========================
		 *     OPERATOR STYLES 
		 */
		
		#operator_console
		{
			background:linear-gradient(to bottom right, #191919, #323232) !important;
			opacity: 1;
			width: 100%;
			height: 800px;
		}
		
		#operator_console h4
		{
			text-align: center;
			padding: 15px;
		}
		
		#operator_console hr {border-color: white; margin-top: -15px; margin-left: 15px;}
		
		.efconsole {border-right:solid white 1px; height: 800px;}
		
		.newfile{float:right}
		
		#logs_records p {font-size: 10px; line-height: 10px; padding: 10px 0 0 5px;}
		#logs_records .row {background-color: #D04547; width:100%; padding: 5px; margin-bottom: 3px; border-radius: 5px;}
		
		#logs_records .row:hover{background-color: #B74F50;}
		
		#message_logs h4 {font-size: 10px; text-align: center;}
		
		#message_logs .row {margin-left:20px; margin-right: 20px; border-radius: 5px; margin-bottom: 10px;}
		
		.pmo,.ef {margin-left:15px;}
		
		.ef,.pmo {background-color: rgba(0,0,0,.3);}

		.confirmation > h3 { color:black !important;}

