{% load static %}
<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Jarvis - Prototype</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css">
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|PT+Serif" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/antennaio/jquery-bar-rating/master/dist/themes/fontawesome-stars.css"/>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.css' type='text/css'/>
	<link rel="stylesheet" href="https://cdn.rawgit.com/gromo/jquery.scrollbar/master/jquery.scrollbar.css"/>
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/progressbar.css' %}" type="text/css">
	<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/jedfoster/Readmore.js/master/readmore.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/easing/EasePack.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenLite.min.js"></script>
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
	<script src="https://cdn.rawgit.com/garand/sticky/master/jquery.sticky.js"></script>
	<script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
	<script src="https://cdn.rawgit.com/ewoken/Leaflet.MovingMarker/master/MovingMarker.js"></script>
	<script src="https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.min.js"></script>
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
	<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.js'></script>
	<script src="https://cdn.rawgit.com/gromo/jquery.scrollbar/master/jquery.scrollbar.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2/dist/bootstrap-confirmation.min.js"></script>
	<!--  -->
	<style>
	#addCirclePlan {
		position: absolute; 
		top:68px;
		left: 97.2%;
		z-index: 99999; 
		width: 30px; 
		height: 30px; 
		background-color: white;
		border-radius: 0 0 7px 7px;
	}
		#addCirclePlan:hover{background-color: #EAEAEA;}
		#addCirclePlan i {padding: 10px 5px 5px 9px}
		
		.fa-eye:hover {color:#DA0C10;}
		#map_911 {width: 400px; height: 400px;}
	</style>
	<script>
		var map,map911;
		$(document).ready(function(){
			var data = {{profile|safe}};
			// Holds mousedown state for events. if this
			// flag is active, we move the point on `mousemove`.
			var isDragging;

			// Is the cursor over a point? if this
			// flag is active, we listen for a mousedown event.
			var isCursorOverPoint;
			$("#u_name").text(data[0].fields.username);

			if(data[0].fields.role == 0){
				$(".battle-plan").hide("fast");
				$(".map-data").hide();
				loadLogs();
				IntervalPMO();
				setInterval(IntervalPMO,30000);
				IntervalEF();
				setInterval(IntervalEF,30000);
				Interval911();
				setInterval(Interval911,5000);
			}else{
				$(".operator-console").hide("fast")
			}
			mapboxgl.accessToken = 'pk.eyJ1IjoiaHlwZXJsb2dpbiIsImEiOiJjamR6Y2NoNm41YTU0MnFwMHdlYTlleDllIn0.cZBimc-H_jLMko9gSSBSXQ';
			map = new mapboxgl.Map({
				container: 'mapid',
				style: 'mapbox://styles/mapbox/dark-v9',
				center: [103.7277753,1.347215],
  				zoom: 11,
			});
		
			var draw = new MapboxDraw({
				displayControlsDefault: false,
				controls: {
					polygon: true,
					trash: true
				}
			});
		
			map911 = new mapboxgl.Map({
					container: 'map_911',
					style: 'mapbox://styles/mapbox/dark-v9',
					center: [103.8344172,1.2930893],
					zoom: 13,
			});
		
			

			$(".btn-save-plan").click(function()
			{
				$.ajax({
					url:"battleplan/save",
					data : {casetitle : $("#casetitle").val(), threatlevel:$("#threatlevel").val(),affectedarea : $("#affectedarea").val(),casedescription:$("#casedescription").val(),planning_data: $("#planning_data").val(),csrfmiddlewaretoken: $(".frm_saving").find("input[name='csrfmiddlewaretoken']").val()},
					dataType:"json",
					method:"POST",
					success:function(data){
						console.log(data);
						if(data.status == 200)
							{
								$("#modalSave").modal("hide");
								alert("BattlePlan Have been save successfully");
								window.location.reload();
							}
					}
				});
			});
		
			$(".btn-save-log").click(function(){
				$.ajax({
					url:"log/save",
					data : {log_title : $("#log_title").val(), case_id : $("#case_id").val(), log_content:$("#log_content").val(),csrfmiddlewaretoken: $(".frm_log_save").find("input[name='csrfmiddlewaretoken']").val()},
					dataType:"json",
					method:"POST",
					success:function(data){
						if(data.status == 200)
							{
								loadLogs();
								$("#modalLogSave").modal("hide");
							}
					}
				});
			});

			map.on('draw.create', updateArea);
		    map.on('draw.delete', updateArea);
		
			map.addControl(draw);
		
			map.on('load',function(){
				/*map.addSource("polygon", createGeoJSONCircle([103.7277753,1.347215], 0.5));

				map.addLayer({
					"id": "polygon",
					"type": "fill",
					"source": "polygon",
					"layout": {},
					"paint": {
						"fill-color": "blue",
						"fill-opacity": 0.6
					}
				});*/
				map.on('mousemove', function (e) {
					$("#mouse_pointer").text(e.lngLat);
					//console.log(e.lngLat);
				});
				// Insert the layer beneath any symbol layer.
					var layers = map.getStyle().layers;

					var labelLayerId;
					for (var i = 0; i < layers.length; i++) {
						if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
							labelLayerId = layers[i].id;
							break;
						}
					}

					map.addLayer({
						'id': '3d-buildings',
						'source': 'composite',
						'source-layer': 'building',
						'filter': ['==', 'extrude', 'true'],
						'type': 'fill-extrusion',
						'minzoom': 11,
						'paint': {
							'fill-extrusion-color': '#aaa',

							// use an 'interpolate' expression to add a smooth transition effect to the
							// buildings as the user zooms in
							'fill-extrusion-height': [
								"interpolate", ["linear"], ["zoom"],
								15, 0,
								15.05, ["get", "height"]
							],
							'fill-extrusion-base': [
								"interpolate", ["linear"], ["zoom"],
								15, 0,
								15.05, ["get", "min_height"]
							],
							'fill-extrusion-opacity': .6
						}
					}, labelLayerId);
			});

			$(".header").sticky({topSpacing:0});
		
			//Set tooltip
			$("[rel=tooltip]").tooltip({ placement: 'top'});
		
			$(".street").click(function(){ map.setStyle('mapbox://styles/mapbox/dark-v9');});
			$(".stat").click(function(){map.setStyle('mapbox://styles/mapbox/satellite-streets-v9');});
			$(".center-map").click(function(){map.flyTo({center: [103.8344172,1.2955349]});})
		
			$("#sopmodal .modal-body").scrollbar();
		
		var createGeoJSONCircle = function(center, radiusInKm, points) {
			if(!points) points = 64;

			var coords = {
				latitude: center[1],
				longitude: center[0]
			};

			var km = radiusInKm;

			var ret = [];
			var distanceX = km/(111.320*Math.cos(coords.latitude*Math.PI/180));
			var distanceY = km/110.574;

			var theta, x, y;
			for(var i=0; i<points; i++) {
				theta = (i/points)*(2*Math.PI);
				x = distanceX*Math.cos(theta);
				y = distanceY*Math.sin(theta);

				ret.push([coords.longitude+x, coords.latitude+y]);
			}
			ret.push(ret[0]);

			return {
				"type": "geojson",
				"data": {
					"type": "FeatureCollection",
					"features": [{
						"type": "Feature",
						"geometry": {
							"type": "Polygon",
							"coordinates": [ret]
						}
					}]
				}
			};
		};
		
		function updateArea(e) {
				var data = draw.getAll();
				//Accessing map data
				
				var mapData = [];
				for(var i=0; i< data.features.length;i++)
				{
						mapData.push({name:"map_data" + i,coord:data.features[i].geometry.coordinates,type:"polyline"})
				}
				console.log(data);
				$("#planning_data").val(JSON.stringify(mapData));
		}
		
		function loadLogs()
		{
			$("#log_records").empty();
			$.ajax({
				url : "api/logs",
				dataType:"json",
				success:function(data)
				{
					for(var i=0; i< data.length; i++)
					{
						var template = '<div class="row log_' + data[i].lid +'" data-title=' + data[i].log_title + ' data-content=' + data[i].log_content + ' data-id=' + data[i].lid + '><div class="col-md-12"><p>Log: ' + data[i].lid +'<br>Description: ' + data[i].log_content + ' | loc : 10302,10203</p></div></div>';
						
						$("#logs_records").append(template);
					}
					
					//Attach Listeners
					$("#logs_records .row").on("click",function(){
						$("#log_title").val($(this).attr("data-title"));
						$("#log_content").val($(this).attr("data-content"));
						$("#case_id").val($(this).attr("data-id"));
						$(".btn-delete-log").show();
						$("#modalLogSave").modal();
					});
					
					$('#modalLogSave').on('hidden.bs.modal', function () {
						$("#log_title").val("");
						$("#log_content").val("");
						$(".btn-delete-log").hide();
					})
					$(".btn-delete-log").hide();
				}
			});
		}
		
		$('[data-toggle=confirmation]').confirmation({
		  rootSelector: '[data-toggle=confirmation]',
		  onConfirm : function(value)
		  {
			  $.ajax({
					url:"log/delete",
					data : {log_title : $("#log_title").val(),case_id: $("#case_id").val(), log_content:$("#log_content").val(),csrfmiddlewaretoken: $(".frm_log_save").find("input[name='csrfmiddlewaretoken']").val()},
					dataType:"json",
					method:"POST",
					success:function(data){
						if(data.status == 200){
							$(".log_" + $("#case_id").val()).remove();
							$("#modalLogSave").modal("hide");
						}
					}
				});
		  }
		});
	});
		
	function IntervalPMO()
	{
		$(".table-pmo").hide();
		$(".pmo-loader").fadeIn("fast");
		$(".table-pmo tbody").empty();
		$.ajax({
			url : "http://172.22.7.140:8000/status",
			dataType:"json",
			success:function(data){
				$(".pmo-system-status").text("Online").removeClass("badge-danger").addClass("badge-success");
				for(var i=0; i< data.length; i++)
				{
					var template = '<tr><th scope="row">'+data[i].case_id+'</th><td>'+ data[i].status + '</td></tr>';
					$(".table-pmo tbody").append(template);
				}
				$(".pmo-loader").fadeOut("fast");
				$(".table-pmo").fadeIn("fast");
				$(".pmo-loader p").text("Refreshing PMO Data");
			},
			error:function(jqXHR, textStatus,errorThrown){
				console.log(textStatus + " " + errorThrown)
				$(".pmo-system-status").text("Offline").removeClass("badge-success").addClass("badge-danger");
				$(".table-pmo tbody").append('<tr><td colspan="3" style="text-align:center">System is Offline</td></tr>');
				$(".pmo-loader").fadeOut("fast");
				$(".table-pmo").fadeIn("fast");
			}
		})
		
		$.get( "status/update", function( data ) {
		  	console.log(data);
		});
		
	}
		
	function Interval911()
	{
		$(".table-911 tbody").empty();
		$.ajax({
			url : "http://172.22.66.229:8000/api/reports",
			dataType:"json",
			success:function(data){
				$(".911-system-status").text("Online").removeClass("badge-danger").addClass("badge-success");
				for(var i=0; i< data.length; i++)
				{
					var template = '<tr><th scope="row">'+data[i].c_rid+'</th><td>'+ data[i].c_ruser + '</td><td>' + data[i].c_report_desc + '</td><td data-loc="' + data[i].c_report_location + '"><i class="fas fa-eye" data-toggle="modal" data-target="#mapModal"></i></td></tr>';
					$(".table-911 tbody").append(template);
					$(".fa-eye").click(function(){
						var coord = $(this).parent().attr("data-loc").split(',');
						
						map911.flyTo({
							center: [coord[0],coord[1]]
						});
							var id = Math.floor(Math.random() * 100000) + 1 ;
							console.log(id);
							map911.loadImage('http://icons.iconarchive.com/icons/webalys/kameleon.pics/256/Alien-icon.png', function(error, image) {
								if (error) throw error;
								map911.addImage('alien', image);
								map911.addLayer({
									"id": "alien_" + id,
									"type": "symbol",
									"source": {
										"type": "geojson",
										"data": {
											"type": "FeatureCollection",
											"features": [{
												"type": "Feature",
												"geometry": {
													"type": "Point",
													"coordinates": [coord[0], coord[1]]
												}
											}]
										}
									},
									"layout": {
										"icon-image": 'alien',
										"icon-size": 0.15
									}
								});
							});
					})
				}
			},
			error:function(jqXHR, textStatus,errorThrown){
				$(".pmo-system-status").text("Offline").removeClass("badge-success").addClass("badge-danger");
				$(".table-911 tbody").append('<tr><td colspan="5" style="text-align:center">System is Offline</td></tr>');
			}
		})
	}
		
	function IntervalEF()
	{
		$(".table-ef tbody").empty();
		$(".ef-loader").fadeIn("fast");
		$(".table-ef").hide();
		$.ajax({
			url : "http://172.22.133.6/project/sendDataToCMO.php",
			dataType:"json",
			success:function(data){
				$(".ef-system-status").text("Online").removeClass("badge-danger").addClass("badge-success");
				for(var i=0; i< data.length; i++)
				{
					var trooplost = Math.round(data[i].totalTroops / ((parseInt(data[i].casualties) + parseInt(data[i].kia) + parseInt(data[i].mia)) * 100));
					
					var template = '<tr><th scope="row">'+data[i].case_id+'</th><td>'+ data[i].casualties + '</td><td>'+ data[i].kia +'</td><td>'+ data[i].mia +'</td><td>'+ trooplost +' %</tr>';
					console.log(data[i]);
					$(".table-ef tbody").append(template);
				}
				$(".ef-loader").fadeOut("fast");
				$(".table-ef").fadeIn("fast");
				$(".ef-loader p").text("Refreshing EF Data");
			},
			error:function(jqXHR, textStatus,errorThrown){
				$(".ef-system-status").text("Offline").removeClass("badge-success").addClass("badge-danger");
				$(".table-ef tbody").append('<tr><td colspan="5" style="text-align:center">System is Offline</td></tr>');
				$(".ef-loader").fadeOut("fast");
				$(".table-ef").fadeIn("fast");
			}
		});
	}

	</script>
</head>

<body>
	<div class="wrapper">
		<div class="header">
			 <nav class="navbar navbar-toggleable-md navbar-expand-md navbar-inverse bg-inverse bg-faded">
				  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon" style="color:white;"></span>
				  </button>
				  <a class="navbar-brand" href="#">
				 	<img src="http://icons.iconarchive.com/icons/basstar/inspiration-orb/256/Inspiration-Orb-1-icon.png" class="d-inline-block align-top" width="25" height="25">&nbsp;Jarvis (Alpha)
				  </a>

				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
					  <li class="nav-item active">
						<a class="nav-link battle-plan" href="#"><i class="fa fa-map">&nbsp;Battle Plan</i></a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link operator-console" href="#"><i class="fa fa-desktop">&nbsp;Operator Console</i></a>
					  </li>
					</ul>

					<div class="dropdown show">
					  <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-user"></i>&nbsp;<span id="u_name"></span>
					   </a>
					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href="#"><i class="fas fa-user"></i>&nbsp;Profile</a>
						<a class="dropdown-item" href="logout"><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
					  </div>
				     </div>
				 </div>
			</nav>
		</div>
		<div class="content">
			<div class="row">
				<div class="col-xl-12">
					<div id="mapid" class="map-data">
						<div id="addCirclePlan"><i class="fas fa-circle" style="color: black;"></i></div>
					</div>
					
					<div id="operator_console" class="operator-data">
						<div class="row">
							<div class="col-xl-4 efconsole">
								 <h4 data-toggle=>Log Records<i class="fas fa-file-alt newfile" rel="tooltip" data-placement="bottom" title="New Log File" data-toggle="modal" data-target="#modalLogSave"></i></h4>
								 <hr>
								 <div id="logs_records">
								 </div>
							</div>
							<div class="col-xl-8">
								<h4>Transmission / Receiever</h4>
								<hr>
								<div id="message_logs">
									<div class="row">
										<div class="col-md-5 pmo" style="border:1px #079E3C solid;">
											<div class="col-md-12">
												<h4>PMO Subsystem Status : <span class="badge badge-pill badge-danger pmo-system-status">Offline</span></h4>
												<div class='pmo-loader text-center' style="padding:10px;">
													<p>Checking PMO Status</p>
													<img src="{% static 'images/loader.gif' %}" width="50" height="50" class="mx-auto" />
												</div>
												<table class="table table-dark table-pmo">
												  <thead thead-light>
													<tr>
													  <th scope="col">Case #</th>
													  <th scope="col">Status</th>
													</tr>
												  </thead>
												  <tbody>
												  </tbody>
												</table>
											</div>
										</div>
										<div class="col-md-6 ef" style="border:1px #C60609 solid;">
											<div class="col-md-12">
												<h4>EF Subsystem Status : <span class="badge badge-pill badge-danger ef-system-status">Offline</span></h4>
												<div class='ef-loader text-center' style="padding:10px;">
													<p>Checking EF Status</p>
													<img src="{% static 'images/loader.gif' %}" width="50" height="50" class="mx-auto" />
												</div>
												<table class="table table-dark table-ef">
												  <thead thead-light>
													<tr>
													  <th scope="col">Case #</th>
													  <th scope="col">Casualties</th>
													  <th scope="col">KIA</th>
													  <th scope="col">MIA</th>
													  <th scope="col">Troop Lost</th>
													</tr>
												  </thead>
												  <tbody>
												  </tbody>
												</table>
											</div>
										</div>
									</div>
									<!--  New Row -->
									<div class="row">
										<div class="col-md-12 911" style="border:1px #ff9933 solid;">
											<h4>911 Subsystem Status : <span class="badge badge-pill badge-success 911-system-status">Online</span></h4>
												<table class="table table-dark table-911">
												  <thead thead-light>
													<tr>
													  <th scope="col">Report ID</th>
													  <th scope="col">Reporting User</th>
													  <th scope="col">Report Description</th>
													  <th scope="col">Location</th>
													</tr>
												  </thead>
												  <tbody>
												  </tbody>
												</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Legends -->
	<div class="options map-data">
		<div class="row">
			<div class="col col-md-3">
				<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#sopmodal">
				  <i class="fas fa-list-alt">&nbsp;SOP Guidelines</i>
				</button>
			</div>
			<div class="col col-md-4"><p id="mouse_pointer" class="text-center"></p></div>
			<div class="col col-md-5">
				<i class="fas fa-street-view fa-2x ai street" rel="tooltip" data-placement="top" title="Street View">&nbsp;</i>&nbsp;
				<i class="fas fa-globe fa-2x ai stat" rel="tooltip" data-placement="top" title="Satellite View" onClick="streets()">&nbsp;</i>
				<i class="fab fa-centercode fa-2x ai center-map" rel="tooltip" data-placement="top" title="Center Map">&nbsp;</i>
				<i class="far fa-save fa-2x ai strat" rel="tooltip" data-placement="top" title="Save BattlePlan" data-toggle="modal" data-target="#modalSave">&nbsp;</i>
			</div>
		</div>
	</div>
	<!-- Terrain -->
	<div class="SOP map-data">
		<div class="row">
			<div class="col col-md-12">
				<h4 style="text-align: center; padding: 5px;">Legends</h4>
			</div>
		</div>
	</div>
	<!-- Report -->
	<!-- Saving Dialog -->
	<div class="modal fade" id="modalSave" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="title">Saving BattlePlan .....</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<form class="frm frm_saving" method="post" action="battleplan/save">
				{% csrf_token %}
				<div class="form-group">
					<label for="casetitle">Plan Name</label>
					<input type="text" class="form-control" id="casetitle" name="casetitle" placeholder="Plan Name">
				</div>
				<div class="form-group">
					<label for="threatlevel">Threat Level</label>
					<input type="number" class="form-control" id="threatlevel" value="0" name="threatlevel">
				</div>
				<div class="form-group">
					<label for="affectedarea">Percentage Affected</label>
					<input type="number" class="form-control" id="affectedarea" name="affectedarea" value="0">
				</div>
				<div class="form-group">
					<label for="casedescription">Plan Description</label>
					<textarea class="form-control" id="casedescription" name="casedescription">

					</textarea>
				</div>
				<input type="hidden" id="planning_data" name="planning_data">
			</form>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary btn-save-plan">Save changes</button>
		  </div>
		</div>
	  </div>
	</div>
	<!-- Saving Log Dialog -->
	<div class="modal fade" id="modalLogSave" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="title">Saving Logs .....</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<form class="frm frm_log_save" method="post" action="log/save">
				{% csrf_token %}
				<div class="form-group">
					<label for="log_title">Log Title</label>
					<input type="text" class="form-control" id="log_title" name="log_title" placeholder="">
				</div>
				<div class="form-group">
					<label for="log_content">Plan Description</label>
					<textarea class="form-control" id="log_content" name="log_content">
					</textarea>
				</div>
				<input type="hidden" id="case_id" name="case_id" />
			</form>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-danger btn-delete-log" data-toggle="confirmation" data-singleton="true">Delete</button>
			<button type="button" class="btn btn-primary btn-save-log">Save changes</button>
		  </div>
		</div>
	  </div>
	</div>
	<!-- SOP -->
	<div class="modal fade" id="sopmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Sequence SOP (Defensive)</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<!-- Accordion Here -->
			  <div class="container sop-accordion">
			   <div class="panel-group" id="accordion">
				  <div class="panel panel-default">
					<div class="panel-heading">
					  <h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						  1. Effects of Terrain
						</a>
					  </h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in">
					  <div class="panel-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					  </div>
					</div>
				  </div>
				  <div class="panel panel-default">
					<div class="panel-heading">
					  <h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						  2. Mission &amp; Limitations
						</a>
					  </h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
					  <div class="panel-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					  </div>
					</div>
				  </div>
				  <div class="panel panel-default">
					<div class="panel-heading">
					  <h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						  3. Orbat
						</a>
					  </h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
					  <div class="panel-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					  </div>
					</div>
				  </div>
				  <div class="panel panel-default">
					<div class="panel-heading">
					  <h4 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
						  4.a. Enemy Courses of Action
						</a>
					  </h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse">
					  <div class="panel-body">
						Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			 
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  </div>
		</div>
	  </div>
	</div>
	<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Viewing Location</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body">
			<div id="map_911"></div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  </div>
		</div>
	  </div>
	</div>
	
</body>
</html>
